* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header-dado-pessoal {
    height: 10vh;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.2rem;
    font-weight: bold;
}

.main-dado-pessoal {
    height: 92vh;
}

form {
    width: 98%;
    /* border: 1px solid black; */
    background-color: #fff;
}

form.form .first-row,
form.form .second-row,
form.form .third-row,
form.form .fourth-row,
form.form .fifth-row,
form.form .sixth-row,
form.form .seventh-row {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

/* form.form .eight-row {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 20px;
} */

form.form .fourth-row,
form.form .fifth-row,
form.form .sixth-row,
form.form .seventh-row {
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

form.form label {
  font-weight: bold;
  margin-bottom: 5px;
  display: block;
  text-align: center;
}

form.form input[type="text"],
form.form input[type="date"],
form.form select {
  padding: 8px 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
  margin-bottom: 10px;
}

#sexoP,
#situacaoP {
    max-width: 100px;
    margin-left: 150px;
}

#estadoB {
    max-width: 190px;
    margin-left: 215px;
}

.eight-row {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}

form.form input[type="submit"] {
  padding: 6px 14px;
  font-size: 14px;
  max-width: 100px;
}

.input-cep {
    max-width: 150px;
    width: 100%;
    
    margin-left: 560px;

}

.footer-dado-pessoal {
    height: 10vh;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.2rem;
    font-weight: bold;
}